@* @model List<CoffeeShopManagementSystem.Models.OrderDetailModel> *@

@model DataTable;
@using System.Data;
@{
    if (TempData["OrderDetailsDeleted"] != null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["OrderDetailsDeleted"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["OrderDetailNotDeleted"] != null)
    {
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: '@TempData["OrderDetailNotDeleted"]',
                confirmButtonText: 'OK'
            });
        </script>
    }
  if (TempData["OrderDetailsUpdated"]!=null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["OrderDetailsUpdated"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
     if (TempData["OrderDetailsInsert"]!=null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["OrderDetailsInsert"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th c scope="col" colspan="8" class="text-end">
                <a asp-controller="OrderDetail" asp-action="OrderDetailAddEdit"><button type="button" class="btn btn-primary">Add</button></a>
            </th>
        </tr>
        <tr>
            <th scope="col">Order Detail Id NEW</th>
            <th scope="col">Order ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Total Amount</th>
            <th scope="col">User Name</th>
            <th scope="col" class="text-center">Actions</th
        </tr>
    </thead>
    <tbody>

        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <th scope="row">@dataRow["OrderDetailID"]</th>
                <td>@dataRow["OrderId"]</td>
                <td>@dataRow["ProductName"]</td>
                <td>@dataRow["Quantity"]</td>
                <td>@dataRow["Amount"]</td>
                <td>@dataRow["TotalAmount"]</td>
                <td>@dataRow["UserName"]</td>
                <td class="text-center">

                    <div class="d-inline-flex align-items-center">

                  <a asp-controller="OrderDetail" asp-action="OrderDetailAddEdit" asp-route-OrderDetailID="@dataRow["OrderDetailID"]">
    <button type="button" class="btn me-1">
        <i class="fa-regular fa-pen-to-square" style="color: #FFD43B;"></i>
    </button>
</a>


                    <form method="post" asp-controller="OrderDetail" asp-action="OrderDetailDelete">
                        <input type="hidden" name="OrderDetailID" value="@dataRow["OrderDetailID"]"/>
                        <button type="submit" class="btn ms-1">
                                <i class="fa-regular fa-square-minus" style="color: #ff0000;"></i>

                        </button>
                    </form>
                    </div>
                </td>
                
            </tr>
        }


    </tbody>
</table>