@model DataTable;
@using System.Data;

@{
    if (TempData["UserDeleted"] != null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["UserDeleted"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["UserNotDeleted"] != null)
    {
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: '@TempData["UserNotDeleted"]',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["UserUpdated"]!=null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["UserUpdated"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["UserInserted"]!=null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["UserInserted"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th c scope="col" colspan="8" class="text-end">
                <a asp-controller="User" asp-action="UserAddEdit"><button type="button" class="btn btn-primary">Add</button></a>
            </th>
        </tr>
        <tr>
            <th scope="col">User Id New</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Address</th>
            <th scope="col">IsActive</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <th scope="row">@dataRow["UserID"]</th>
                <td>@dataRow["UserName"]</td>
                <td>@dataRow["Email"]</td>
                <td>@dataRow["Password"]</td>
                <td>@dataRow["MobileNo"]</td>
                <td>@dataRow["Address"]</td>
                <td>@dataRow["IsActive"]</td>
                <td class="text-center">
                    <div class="d-inline-flex align-items-center">

                        <a asp-controller="User" asp-action="UserAddEdit" asp-route-userID="@dataRow["UserID"]">
                            <button type="button" class="btn me-1">
                                <i class="fa-regular fa-pen-to-square" style="color: #FFD43B;"></i>
                            </button>
                        </a>


                        <form method="post" asp-controller="User" asp-action="UserDelete">
                            <input type="hidden" name="UserID" value="@dataRow["UserID"]" />
                            <button type="submit" class="btn  ms-1">
                                <i class="fa-regular fa-square-minus" style="color: #ff0000;"></i>
                            </button>
                        </form>
                    </div>
                </td>

            </tr>
        }


    </tbody>
</table>
