@model DataTable;
@using System.Data;
@{
    if (TempData["ProductDeleted"] != null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["ProductDeleted"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["ProductNotDeleted"] != null)
    {
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: '@TempData["ProductNotDeleted"]',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["ProductUpdated"]!=null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["ProductUpdated"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
    if (TempData["ProductInsert"]!=null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["ProductInsert"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th c scope="col" colspan="7" class="text-end">
                <a asp-controller="Product" asp-action="ProductAddEdit"><button type="button" class="btn btn-primary">Add</button></a>
            </th>
        </tr>
        <tr>
            <th scope="col">Product Id New</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Code</th>
            <th scope="col">Description</th>
            <th scope="col">User Id</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <th scope="row">@dataRow["ProductID"]</th>
                <td>@dataRow["ProductName"]</td>
                <td>@dataRow["ProductCode"]</td>
                <td>@dataRow["ProductPrice"]</td>
                <td>@dataRow["Description"]</td>
                <td>@dataRow["UserName"]</td>
                <td class="text-center">
                    <div class="d-inline-flex align-items-center">
                        <!-- Edit Button -->
                        <a asp-controller="Product" asp-action="ProductAddEdit" asp-route-productID="@dataRow["ProductID"]">
                            <button type="button" class="btn me-1">
                                <i class="fa-regular fa-pen-to-square" style="color: #FFD43B;"></i>
                            </button>
                        </a>

                        <!-- Delete Button inside Form -->
                        <form method="post" asp-controller="Product" asp-action="ProductDelete" class="mb-0 ms-2">
                            <input type="hidden" name="ProductID" value="@dataRow["ProductID"]" />
                            <button type="submit" class="btn">
                                <i class="fa-regular fa-square-minus" style="color: #ff0000;"></i>
                            </button>
                        </form>
                    </div>
                </td>

            </tr>
        }


    </tbody>

</table>
